### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### For Submission ###
ITSD-DT2023-24-Template/conf/
ITSD-DT2023-24-Template/logs/
ITSD-DT2023-24-Template/project/
ITSD-DT2023-24-Template/sbt-dist/
ITSD-DT2023-24-Template/scripts/
ITSD-DT2023-24-Template/target/
ITSD-DT2023-24-Template/build.sbt
ITSD-DT2023-24-Template/sbt
ITSD-DT2023-24-Template/sbt.bat
ITSD-DT2023-24-Template/app/assets/
